* {
   background-color: black; 
}

/*Changes the aspects labeled h1 or header 1*/
h1 {
    color:rgba(0,0,255);
    margin:10px 10px 4px 0px;
    position: relative;
}

/*Changes the header position using relative unit*/
h4.Today {
    padding-left:57em;
}

/*Changes the header position using relative unit*/
h4.Last-Time {
    padding-left:111ch;
}

/*Changes the header position using relative unit*/
h4.Up {
    padding-left:57rem;
}

h3 {
    color:rgba(0,0,255);
    text-decoration:none;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    flex-grow:4;
}

sub {
    color:#800080;
}


h4.Final {
    padding: 25px 50px 0px 0px;
    position:static;
}

p.S1, p.S2 {
    display: grid;
    justify-self: start;
    grid-template-columns:auto;
    row-gap:0.2px;
    column-gap:0.2px;
    color:blue;
}

p.extra {
    color: blue;
}

div.Unused ~ p {
    color:blue
}

div.Unused ~ p + p {
    font-size: 30px;
}
p.class {
    font-size: 60px;
}

div + p {
    font-size:20px;
}

a[target="_blank"] {
    font-family: Arial, Helvetica, sans-serif;
}

main h3 {
    font-size:30px;
}
h4.AUD {
    color:blue;
}

div > h3 {
    font-size:30px;
}
label {
    color:white;
}
section.Next {
    color: blue;
}
span {
    font-weight: bold;
}

p.Form, p.Form2 {
    color: white;
}

h4.END {
    color:blue;
}
p.Final-Msg {
    padding-right:0.5px;
    text-align: center;
    min-width:auto;
    font-family:'Akronim', cursive;
    font-size:30px;
}

#VID {
    color:blue;
}

img.img-see {
    display:inline;
    width:1200px;
    height:600px;
}

video {
    max-width: 320px;
    max-height: 240px;
}
img.img-block {
    display:none;
}

p.NA {
    color:red;
}
a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:active {
    background-color: yellow;
}

a:visited {
    color: green;
}

ul.Attend {
    background-color:black;
    color: hsl(0, 0%, 100%);
    width: 5in;
    margin-left:auto;
    margin-right:auto;
    border-style:dotted;
    border-color:red;
    border-width:3px;
    border-radius:15px;
}

ul.Wrap-Up, ul.Updates, ul.Agenda {
    background-color:black;
    color: hsl(0, 0%, 100%);
    width: 5in;
    margin:auto;
    border-style:dotted;
    border-color:red;
    border-width:3px;
    border-radius:15px;
}

li {
    margin-top: 0.5mm;
    margin-bottom: 0.5mm;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: 10px;
    }
}