/*Changes the aspects labeled h1 or header 1*/
h1 {
    color:rgba(0,0,255);
    margin:10px 10px 4px 0px;
}

/*Changes the header position using relative unit*/
h4.Today {
    padding-left:57em;
}

/*Changes the header position using relative unit*/
h4.Last-Time {
    padding-left:111ch;
}

/*Changes the header position using relative unit*/
h4.Up {
    padding-left:57rem;
}

sub {
    color:#800080;
}

h4.Final {
    padding: 25px 50px 0px 0px;
}

p.Final-Msg {
    padding-right:0.5px;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: green;
}

ul.Attend {
    background-color:black;
    color: hsl(0, 0%, 100%);
    width: 5in;
    margin-left:auto;
    margin-right:auto;
    border-style:dotted;
    border-color:red;
    border-width:3px;
    border-radius:15px;
}

ul.Wrap-Up, ul.Updates, ul.Agenda {
    background-color:black;
    color: hsl(0, 0%, 100%);
    width: 5in;
    margin:auto;
    border-style:dotted;
    border-color:red;
    border-width:3px;
    border-radius:15px;
}

li {
    margin-top: 0.5mm;
    margin-bottom: 0.5mm;
    padding-top: 5px;
    padding-bottom: 5px;
}
